<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> 
                        <img [src]="getLogo()" class="logo"> 
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> 
                        <img [src]="getAddon()" class="image"> 
                    </div>
                </div>
            </div>
            
            <!-- SOCIAL SIGN IN OPTIONS -->
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    
                    <app-social-login></app-social-login>
                    
                    <div class="row px-3 mb-4">
                        <div class="line"></div> <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <span class="text-danger errorMsg" *ngIf="invalidLogin">
                        {{ errorMessage }}
                    </span>
                    <!-- LOGIN FORM -->
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Email Address</h6>
                            </label>
                            <input class="form-control" type="email" 
                                    formControlName="email"
                                    placeholder="Enter a valid email address">
                            <span class="text-danger"
                                *ngIf="(loginFormControl.email.touched || submitted) && loginFormControl.email.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger"
                                *ngIf="loginFormControl.email.touched && loginFormControl.email.errors?.email">
                                Enter a valid email address
                            </span>
                        </div>

                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                            </label>
                            <input type="password" 
                                    formControlName="password"
                                    class="form-control" 
                                    placeholder="Enter password"> 
                            <span class="text-danger"
                                *ngIf="(loginFormControl.password.touched || submitted) && loginFormControl.password.errors?.required">
                                Password is required
                            </span>
                        </div>

                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input  id="chk1"
                                        (change)="toggleValue($event)" 
                                        type="checkbox" 
                                        name="chk" 
                                        class="custom-control-input">
                                <label for="chk1" class="custom-control-label text-sm">Remember me</label>
                            </div>
                            <a  class="ml-auto mb-0 text-sm"
                                href="javascript:void(0)" 
                                (click)="openForgotPassModal()">Forgot Password?</a>
                        </div>

                        <div class="row mb-3 px-3">
                            <button type="submit" 
                                    [disabled]="!loginForm.valid"
                                    class="btn btn-blue text-center"> Login
                            </button>
                        </div>
                    </form>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">
                            Don't have an account?
                            <a class="text-danger" [routerLink]="['/signup']">Register</a>
                        </small>
                        <small class="font-weight-bold ml-auto mb-0">
                            Not received verification mail?
                            <a  class="text-danger" 
                                href="javascript:void(0)"
                                (click)="openVerifyEmailModal()">Verify email</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">
                    Copyright &copy; 2019. All rights reserved.
                </small>
                <div class="social-contact ml-4 ml-sm-auto">
                    <span class="fa fa-facebook mr-4 text-sm"></span>
                    <span class="fa fa-google-plus mr-4 text-sm"></span>
                    <span class="fa fa-linkedin mr-4 text-sm"></span>
                    <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span>
                </div>
            </div>
        </div> -->
    </div>
</div>
<app-verify-link-modal 
    [display]="display"
    [modalData]="verifyModalData"
    (eventDisplay)="eventDisplay($event)">

</app-verify-link-modal>
