<div class="row mb-4 px-3">
    <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>

    <a [href]="getLoginPage('facebook')">
        <div class="facebook text-center mr-3">
            <div class="fa fa-facebook"></div>
        </div>
    </a>   
    
    <a [href]="getLoginPage('twitter')">
        <div class="twitter text-center mr-3">
            <div class="fa fa-twitter"></div>
        </div>
    </a>
    
    <a [href]="getLoginPage('linkedin')">
        <div class="linkedin text-center mr-3">
            <div class="fa fa-linkedin"></div>
        </div>
    </a>
    
    <a [href]="getLoginPage('google')">
        <div class="twitter text-center mr-3">
            <div class="fa fa-google"></div>
        </div>
    </a>
    
    <a [href]="getLoginPage('github')">
        <div class="linkedin text-center mr-3">
            <div class="fa fa-github"></div> 
        </div>
    </a>
    
</div>