<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="assets/images/addon.png" width="80" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a [routerLink]="['/home']" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['subjects']" class="nav-link">Subjects</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="mr-2 rounded-circle" *ngIf="user.imageUrl" [src]="user.imageUrl" width="30" height="30" alt="avatar">
                    <span class="username" *ngIf="!user.imageUrl">{{user.name}}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['profile']">Profile</a>
                    <a class="dropdown-item" [routerLink]="['profile']">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/logout']">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>









